#parse('macros.vm')
<html>
    <head >
		<title>Imdb Home</title>
    </head>
	<body>
		<h1>Imdb Home</h1>
		<div>
			<label>Start typing movie name: </label>
			<input type="text" id="autoCompleteMovies"/>
        </div>
		<div>
			<label>Start typing user name: </label>
			<input type="text" id="autoCompleteUsers"/>
        </div>
		<div>
			<label>(XML Response)Start typing user name: </label>
			<input type="text" id="autoCompleteUsersXmlFormat"/>
        </div>
		<table>
        	#foreach($movie in $allMovies)
				<tr>
					<td>${movie.name}</td>
					<td>${movie.year}</td>
					<td>${movie.averageRating}</td>
                </tr>
        	#end
        </table>
    </body>
</html>