#parse('macros.vm')
<html>
    <head >
		<title>Imdb Home</title>
    </head>
	<body>
		<h1>Imdb Home</h1>
		<div>
			<input type="text" id="autocompletesuggestedmovies"/>
        </div>
		<table>
        	#foreach($movie in $allMovies)
				<tr>
					<td>${movie.name}</td>
					<td>${movie.year}</td>
					<td>${movie.averageRating}</td>
                </tr>
        	#end
        </table>
    </body>
</html>