<html>
	<title>Forgot Password</title>
<body>
<h1>Forgot Password</h1>
<form name="forgotPassword" method="post">
	<label>Email</label>
	#springFormInput("forgotPassword.email")
	<input type="submit" value="SUBMIT"/>
	#springShowErrors("")
</form>
</body>
</html>
